*{
    font-weight: 900;
    font-size: 100%;
    font-family: sans-serif;
}
body{
    
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    background: black;
    flex-direction: column;
}


.container * {
    margin: 2%;
}
.container{
    padding: 10px;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    width: 500px;
    height: 200px;
    background: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h3,button,input{
    /* color: white; */
    font-size: 150%;
    background: transparent;
}


.result{
    margin-top: 2%;
    background: white;
    width: auto;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

#typer.blink{
    color: black;
    animation: blink 0.5s ease-in-out infinite;
}
h1{
    font-size: 500%;
}

@keyframes blink {
    0%{
        opacity: 1;
    }100%{
        opacity: 0;
    }
}